@tailwind base;
@tailwind components;
@tailwind utilities;

  
::-webkit-scrollbar{
  scroll-behavior: inherit;
  overflow: hidden;
}


.hover-card {
    width: 300px;
    height: 150px;
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
  }
  .card-header{
    width: 300px;
    height: 150px;

  }
  
  
  .card-content {
    position: absolute;
    top: 100%;
    left: 0;
    transition: top 0.5s ease-in-out;
  }
  
  .card-content.active {
    top: 74%;
  }
  

  .spin:hover{
    animation: spin 1s ease-in;
  }
  @keyframes spin {
    0%{
      transform: rotate(-3deg);
    }

    
  }
  